@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "IM Fell English SC", serif !important; /* Fuente elegante y antigua */
  background-image: url("../recursos/imagenes/fondos/FondoLobby.webp");
  overflow: hidden;
  /*cursor: crosshair !important;*/
}

.navbar {
  background-color: #000 !important;
  color: #fff !important;
  position: absolute;
  width: 100%;
}

.navbar a {
  color: #fff !important;
}

.navbar-nav ul {
  padding-left: 2em;
}

/*.navbar-brand{
    padding-left: 15em;
    padding-right: .1em;
    pointer-events: none;
}*/

.nav-item {
  text-align: center;
  padding-right: 10em !important;
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.personaje {
  z-index: 1;
  width: 25em;
  background-color: #000 !important;
  margin-left: 65em !important;
}

.personaje img {
  width: 10em;
  height: 12em;
}

.barra-verde { 
  accent-color: #0aff58; 
}  

.btn-jugar {
  font-size: 24px;
  color: #d6d6d6;
  background: transparent;
  border: 2px solid transparent;
  padding: 15px 40px;
  cursor: pointer;
  top: 25em;
  left: 42em;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.btn-jugar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 400%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 40%
  );
  transform: translate(-50%, -50%) rotate(25deg);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.btn-jugar:hover {
  color: #ffffff;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
}

.btn-jugar:hover::before {
  opacity: 1;
}

.btn-jugar:active {
  transform: scale(0.95);
}
