@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "IM Fell English SC", serif !important; /* Fuente elegante y antigua */
  overflow: hidden;
  /*cursor: crosshair !important;*/
}

.navbar {
  background-color: #000 !important;
  color: #fff !important;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  color: #fff !important;
}

.navbar-nav ul {
  padding-left: 2em;
}

/*.navbar-brand{
    padding-left: 15em;
    padding-right: .1em;
    pointer-events: none;
}*/

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  width: 100%;
}

.nav-item {
  /* Elimina o ajusta el padding para no descentrar */
  text-align: center;
  padding: 0 4em; /* Ajusta el valor según necesites */
  gap: em;
}

h3{
  color: #fff;
}

#label-tienda {
  position: absolute;
  top: 33% !important;
  /* Ajusta según sea necesario */
  left: 15% !important;
  /* Ajusta según sea necesario */
}

#label-jugar {
  position: absolute;
  top: 20% !important;
  /* Ajusta según sea necesario */
  left: 32% !important;
  /* Ajusta según sea necesario */
}

#label-inventario {
  position: absolute;
  top: 22% !important;
  /* Ajusta según sea necesario */
  left: 43% !important;
  /* Ajusta según sea necesario */
}

.personaje {
  z-index: 1;
  width: 24em;
  background-color: #000 !important;
  position: absolute;
  top: 12em !important;
  right: 0em !important;
  border: 2px solid #fff;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

progress{
  width: 4em;
}

.personaje img {
  object-fit: contain;
  object-position: top;
  width: 10em;
  height: 15em;
}

/*.progress-bar{
  background-color: #4CAF50 !important;
}*/

/*.barra-verde {
  accent-color: #0aff58;
}*/

.barra-roja {
  background-color: red !important;
}

.barra-amarilla {
  background-color: yellow !important;
}

.barra-verde {
  background-color: #0aff58 !important;
}

/*.btn-jugar {
  font-size: 24px;
  color: #d6d6d6;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.btn-jugar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 300%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 40%
  );
  transform: translate(-50%, -50%) rotate(25deg);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.btn-jugar:hover {
  color: #ffffff;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
}

.btn-jugar:hover::before {
  opacity: 1;
}

.btn-jugar:active {
  transform: scale(0.95);
}*/

.economia img{
    width: 30px !important; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    margin-right: 5px; 
}
.map-container {
  position: relative;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.region {
  fill: rgba(255, 0, 0, 0); /* Transparente por defecto */
  /*stroke: red;*/
  cursor: pointer;
}

.region:hover {
  fill: rgba(255, 255, 255, 0.521); /* Resaltado al pasar el mouse */
}

.region-label {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

.imagen-letrero {
  position: fixed; /* Fija la imagen en la pantalla */
  top: -110px; 
  left: -130px; 
  max-width: 620px; 
  max-height: 620px; 
  width: auto; 
  height: auto;
  display: inline-block; 
  z-index: 1050;
}

.texto-sobre-imagen {
  position: absolute; /* Posiciona el texto dentro de la imagen */
  top: 66px; 
  left: 165px; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 1050;
}