@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*{
    box-sizing: border-box;
}

body{
    font-family: "IM Fell English SC", serif !important; /* Fuente elegante y antigua */
    background-image: url("https://1..blogspot.com/-WL4PIG2--dM/WcbnDuEGx7IAAAAAAAAAH4/VAlTjn8Rphs-OcoiD_z_BZbYWAuxK2-1QCK4BGAYYCw/s1600/K9LZvda.jpg");
    background-size: cover;
}

.container {
    position: relative;
    display: inline-block;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Permite interacción con la imagen */
}