body {
    background-image: url("../recursos/imagenes/fondos/FondoTienda.jpg") !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.store-container {
    display: flex;
    background: #d4a373;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 12%;
    left: 50px; 
}

.weapon-preview {
    width: 150px;
    text-align: center;
    padding: 10px;
    background: #f5c16c;
    border-radius: 5px;
    margin-right: 20px;
}

.weapon-preview img {
    width: 100px;
    height: auto;
}

.weapon-list {
    width: 580px;
    height: 550px;
    overflow-y: auto;
    background: #e0a96d;
    border-radius: 5px;
    padding: 10px;
}

.weapon-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #8b5e34;
    cursor: pointer;
}

.weapon-item:hover {
    background: #c38154;
}